<a href="https://colab.research.google.com/github/Jojomaque/Portfolio/blob/main/Edinburgh_Bike_Hire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
# Load libraries
import time  # timer
import numpy as np  # linear algebra
import pandas as pd  
import seaborn as sns  # plot handling
import matplotlib.pyplot as plt  # plot handling
import folium

Can I show the locations of the bike stations on the SIMD - https://simd.scot/#/simd2020/BTTTFTT/13.666666666666671/-3.1872/55.9374/


Is Climate change Inclusive - Poorer families - access to bikes - Fuel Poverty - Cannot afford to upgrade energy system

Hypothesis
Ability to reduce carbon foot print linked to wealth inequality?

- How Accessible are hire Schemes?
- Fuel poverty - 


#1 Popular times of travel 
Month
Week
Day/Time of Day
#2 Popular stations and trip
most common start station
most common end station
most common route
#3 Trip duration
total travel time
average travel time
#4 User info
counts of each user type
counts of gender and age?

In [6]:
# Load Data
january = pd.read_csv('https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2021/01.csv')
february = pd.read_csv('https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2021/02.csv')
march = pd.read_csv('https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2021/03.csv')
april = pd.read_csv('https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2021/04.csv')
may = pd.read_csv('https://data.urbansharing.com/edinburghcyclehire.com/trips/v1/2021/05.csv')

In [25]:
january['month'] = 'january'
february['month'] = 'february'
march['month'] = 'march'
april['month'] = 'april'
may['month'] = 'may'

In [26]:
Ed_Bike_2021 = pd.concat([january, february, march, april, may])
Ed_Bike_2021.head()

                         started_at  ...    month
0  2021-01-01 00:48:42.884000+00:00  ...  january
1  2021-01-01 00:52:12.457000+00:00  ...  january
2  2021-01-01 00:55:14.884000+00:00  ...  january
3  2021-01-01 00:55:15.217000+00:00  ...  january
4  2021-01-01 00:55:22.724000+00:00  ...  january

[5 rows x 14 columns]

In [9]:
Ed_Bike_2021.tail()

                             started_at  ... end_station_longitude
12601  2021-05-31 23:13:57.978000+00:00  ...             -3.195470
12602  2021-05-31 23:16:05.243000+00:00  ...             -3.167395
12603  2021-05-31 23:33:48.579000+00:00  ...             -3.185175
12604  2021-05-31 23:35:26.487000+00:00  ...             -3.180413
12605  2021-05-31 23:52:27.715000+00:00  ...             -3.174126

[5 rows x 13 columns]

DATA DESCRIPTION

In [14]:
Ed_Bike_2021.columns

Index(['started_at', 'ended_at', 'duration', 'start_station_id',
       'start_station_name', 'start_station_description',
       'start_station_latitude', 'start_station_longitude', 'end_station_id',
       'end_station_name', 'end_station_description', 'end_station_latitude',
       'end_station_longitude'],
      dtype='object')

In [24]:
Ed_Bike_2021.describe()

           duration  ...  end_station_longitude
count  51856.000000  ...           51856.000000
mean    2103.003953  ...              -3.191987
std     2149.692109  ...               0.047250
min       61.000000  ...              -3.407156
25%      710.000000  ...              -3.208070
50%     1429.000000  ...              -3.188311
75%     2871.000000  ...              -3.174126
max    27006.000000  ...              -3.058307

[8 rows x 7 columns]

In [29]:
Ed_Bike_2021['month'].value_counts()

april       14785
march       13279
may         12606
february     6559
january      4627
Name: month, dtype: int64

In [16]:
Ed_Bike_2021.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51856 entries, 0 to 12605
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   started_at                 51856 non-null  datetime64[ns, UTC]
 1   ended_at                   51856 non-null  object
 2   duration                   51856 non-null  int64
 3   start_station_id           51856 non-null  int64
 4   start_station_name         51856 non-null  object
 5   start_station_description  51102 non-null  object
 6   start_station_latitude     51856 non-null  float64
 7   start_station_longitude    51856 non-null  float64
 8   end_station_id             51856 non-null  int64
 9   end_station_name           51856 non-null  object
 10  end_station_description    50933 non-null  object
 11  end_station_latitude       51856 non-null  float64
 12  end_station_longitude      51856 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(3), object(5)
memory usage: 5.5+ MB

In [17]:
# check missing value
Ed_Bike_2021.isnull().sum()

started_at                     0
ended_at                       0
duration                       0
start_station_id               0
start_station_name             0
start_station_description    754
start_station_latitude         0
start_station_longitude        0
end_station_id                 0
end_station_name               0
end_station_description      923
end_station_latitude           0
end_station_longitude          0
dtype: int64

DATA PREPARATION

In [23]:
# change some format
Ed_Bike_2021['started_at'] = pd.to_datetime(Ed_Bike_2021['started_at'])
Ed_Bike_2021['ended_at'] = pd.to_datetime(Ed_Bike_2021['ended_at'])
Ed_Bike_2021['started_at']

0       2021-01-01 00:48:42.884000+00:00
1       2021-01-01 00:52:12.457000+00:00
2       2021-01-01 00:55:14.884000+00:00
3       2021-01-01 00:55:15.217000+00:00
4       2021-01-01 00:55:22.724000+00:00
                      ...
12601   2021-05-31 23:13:57.978000+00:00
12602   2021-05-31 23:16:05.243000+00:00
12603   2021-05-31 23:33:48.579000+00:00
12604   2021-05-31 23:35:26.487000+00:00
12605   2021-05-31 23:52:27.715000+00:00
Name: started_at, Length: 51856, dtype: datetime64[ns, UTC]